body {
  background-color: rgb(233, 235, 236);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.box-one {
  width: 300px;
  border-radius: 50px;
  padding: 100px;
  background-color: rgb(255, 255, 255);
  border: 5px black solid;
  font-size: x-large;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
}
.box-two {
  display: flex;
  background-color: rgb(210, 210, 211);
  padding: 300px;
  border-radius: 800px;
  position: absolute;
}
.checkbox input {
  color: black;
  height: 30px;
  width: 30px;
}

.checkbox > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Done > button {
  display: flex;
  padding: 7px;
  border-radius: 10px;
}
.Cancel > button {
  display: flex;
  align-items: right;
  padding: 7px;
  border-radius: 10px;
  background-color: white;
}
.button1 button {
  background-color: black;
  color: white;
  padding: 20px;
  width: 110px;
  font-size: large;
}
.button1 {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.checkbox {
  margin-top: 50px;
}
.fulltime {
  margin-top: 50px;
}
.freelance {
  margin-top: 50px;
}
.Cancel > button {
  background-color: white;
  color: black;
}
